@model EntityLayer.Entities.Kategoriler
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Masa Kayıt</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form method="post" action="Create">
        <div class="card-body">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label for="exampleInputEmail1">Kategori Adı</label>
                <input type="text" asp-for="@Model.Kategori_Ad" class="form-control" id="exampleInputEmail1" placeholder="Masa Adını Girin">
                <span asp-validation-for="@Model.Kategori_Ad" class="text-danger"></span>
            </div>
          
            
            
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
    </form>
</div>

